<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated store -->
      <package
            uri="http://com/univ-nantes/store"
            class="store.StorePackage"
            genModel="model/store.genmodel"/>
   </extension>

</plugin>
